
*{margin:0;padding:0;
Box-sizing:border-box;}

body{width:100vw;
height:100vh;position:relative;
justify-content:center;
align-items:center;
display:flex;
background-color:black;}
.book{
width:300px;
height:350px;
transform-style:preserve-3d;
border-radius:10px;
perspective:500px;

}
.page{
width:100%;
height:100%;
position:relative;
transform-style:preserve-3d;
transform-origin:center;
backface-visibility:hidden;
border-radius:10px;

transition:2s linear;

}
.front, .back{
position:absolute;
width:100%;
height:100%;

backface-visibility:hidden;
border-radius:10px;

}
.content{
width:100%;
height:100%;
position:absolute;
justify-content:center;
align-items:center;

}

.content h1{
padding-top:90px;
justify-content:center;
align-items:center;
color:black;
text-align:center;
}
.content p{
padding-top:10px;
justify-content:center;
align-items:center;
color:white;
text-align:center;}

.content button{
padding:10px 17px;
justify-content:center;
align-items:center;
border-radius:10px;
text-align:center;
background-color:crimson;
margin-top:20px;
outline:none;
border:2px solid gold;
cursor:pointer;
margin-left:85px;
color:black;

font-weight:bold;
}

.front{background-color:gray;
transform:rotateY(0deg);
}
.back{background-color:rgb(23,67,8,87);
transform:rotateY(180deg);
}
.page:hover{
transform: rotateY(180deg);

}

